<div>
    {{#with person}}
    
        <h1>{{name}}</h1>
         <p>{{age}} years old</p>
    <p>{{gender}}</p>
    <br>
    <p><h3>Address</h3></p>
    {{#with address}}
     <p>{{street}}</p>
         <p>{{city}}
         {{state}}
         {{zip}}
         {{country}}
    {{/with}}
    
 </div>
 <br>
<hr>
<div><h2>Education</h2></div>
{{#each education}}
 
 {{degree}}
 <div><em>{{major}}</em></div>
 <div>{{univercity}}{{graduationYear}}</div>

{{/each}}
<br>
<hr>
<br>
<div><h2>Work Experience</h2></div>
{{#each workExperience}}

    <h4>{{company}}</h4>
    <div>{{title}} (from {{startDate}}to {{endDate}})</div>
    <div>{{responsibilities}}</div>
    <div>Founded in {{year_founded}}, {{industry}}</div>
<br>
<div><h4>Employees:</h4></div>
{{#each employees}}
<div>{{name}}, {{position}}, {{department}}</div>
{{#each projects}}
<p>Проект  <strong>{{name}}</strong></p>
<div>{{description}}</div>
<div>Status: {{status}}</div>
<br>
{{#each teams}}
<div>Над проектом працюють: {{team_name}} на чолі з <strong>{{team_leader.name}}.</strong></div>
<p>email: {{team_leader.email}}</p>
{{#each team_members}}
<div><strong>Члени команди: {{team_members}} </strong>
<p>{{name}}</p>
<p>{{title}}</p>
<p>email: {{email}}</p>
<p><strong>Навички:</strong></p>
 <ul>
{{#each skills}}
<li>{{this}}</li>
{{/each}}
</ul>
<p><strong>Проекти:</strong></p>

    {{#each projects}}
    <strong>{{name}}</strong>
    <p>{{description}}</p>
     
    <p><strong>Технології:</strong></p>
    <ul>
    {{#each technologies}}
   <li>{{this}}</li>
   {{/each}}
   <br>
   <div><strong>Члени команди:</strong> </div>
   <ul>
    {{#each team_members}}
    <p><li>{{name}} - {{title}}</li></p>
    
    {{/each}}
   </ul>
    {{/each}} 
</ul>
</div>
{{/each}}

{{/each}}

{{/each}}

{{/each}}


{{/each}}

{{/with}}

