<br>
<div class="row gx-5">
    <div class="col-12">
{{#with navigation}}
{{#each links}}
<a href="{{href}}"  class="btn btn-link">{{text}}</a>
{{/each}}
{{#with button}}
<button class="btn btn-primary btn-sm"><a href="{{href}}">{{text}}</a></button>
{{/with}}
<br>
<hr>
</div>

{{/with}}
<br>

{{#with header}}
<h1>{{title}}</h1>
<p>{{description}}</p>
{{#with button}}
<div>
<button class="btn btn-primary btn-sm"><a href="{{link}}" >{{text}}</a></button>
</div>
{{/with}}
{{/with}}
<br>
   <br>
   <hr>
   
{{#with city}}
<h2 >{{title}}</h2>
 <div class="row gx-1 gy-2">
<div class="col-5">
{{#each cards}}
<div class="card">
    <div class="card-body">
    
{{#with picture}}
    <br>
    <img class="card-img-top" src={{src}} {{alt}}>

{{/with}}
<h5 class="card-title">{{title}}</h5>
<div>{{description}}</div>
<br>
{{#with button}}
<a href={{href}} class="btn btn-primary">{{text}}</a>
{{/with}}
</div>
</div>
{{/each}}
</div>
</div>
{{/with}}
<br>
<hr>
<br>
{{#with winner}}
<h2>{{title}}</h2>

{{#with table}}
<table class="table table-bordered">
    <thead>
        <tr>
            {{#each head}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
            <th>{{place}}</th>
            <th>{{name}}</th>
            <th>{{surname}}</th>
            <th>{{nickname}}</th> 
        </tr>
        {{/each}}
    </tbody>
</table>
{{/with}}
{{/with}}
<br>
<hr>
<br>
{{#with gallery}}
<h2>{{title}}</h2>
{{#each cards}}
<div class="row">
<div class="col-4">
<div class="card">
    <div class="card-header">{{name}}</div>
    {{#each items}}
    <ul class="list group">
            <li class="list-group-item">{{this}}</li>
        </ul>
    {{/each}}
 </div>   
</div>
</div>
{{/each}}
{{/with}}
<br>
<hr>
<br>

    {{#with relaxion}}
    <div class="display-3">{{title}}</div>
    <div class="row">
    <div class="col-3">
    <div class="card text-bg-secondary">
    {{#each cards}}
    <div class="card-header">{{header}}</div>
    <div class="card-title">{{title}}</div>
    <p>{{description}}</p>
    {{/each}}
    </div>
    </div>
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with rest}}
    {{#each cards}}
    <div class="row gx-1">
    <div class="col-6">
    <div class="card">
        <div class="card-header text-center">{{header}}</div>
        <div class="card-body text-center">
        <h6 class="card-title">{{title}}</h6>
        <p>{{description}}</p>
        <button class="btn btn-primary">{{button}}</button>
        </div>
<div class="card-footer text-center">{{footer}}</div>
    </div>
    </div>
    </div>
    {{/each}}
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with proposition}}
    <div class="display-2">{{title}}</div>
    <br>
    {{#each card}}
    <div class="row gx-1">
    <div class="col-6">
    <div class="card text-bg-warning">
        <h3 class="card-header">{{header}}</h3>
        <br>
     <h5 class="card-title">{{title}}</h5>
        <p>{{description}}</p>
    </div>
    </div>
    </div>
    {{/each}}
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with footer}}
    <h5>{{title}}</h5>
    {{#each navigation}}
    <div class="row">
    <div class="col-4">
    <ul class="list-group">
        <li ><a href="{{href}}"  class="btn btn-link">{{text}}</a></li>
    </ul>
    </div>
    </div>
    {{/each}}
    {{#each socialMedia}}
    <div class="row">
    <div class="col-4">
    <ul class="list-group">
        <li ><a href={{link}}  class="btn btn-outline-dark" >{{text}}</a></li>
    </ul>
    </div>
    </div>
    {{/each}}
    {{#each partners}}
    <div class="row">
    <div class="col-4">
    <ul class="list-group">
        <li ><a href={{link}}  class="btn btn-outline-info" >{{name}}</a></li>
    </ul>
    </div>
    </div>
    {{/each}}
    {{/with}}
