{{#with web}}
<div>
    <ul>
{{#each languages}}
<p><h3>Languages</h3></p>
<li><p><strong>Name: <strong>{{name}}</strong></strong></p>
<p>Version: {{version}}</p>
<p>{{description}}</p></li>
{{#each elements}}
<p></p>
<div><strong><em>Name:</strong> {{name}}</em></p>
<div>{{description}}</div>
<ul>
    {{#each attributes}}
<p><h3>Attributes</h3></p>
<li><p>Name: <strong> {{name}}</strong></p>
<div>{{description}}</div></li>

{{/each}}
</ul>
</div>
{{/each}}
<br>
<div><p><strong><em>Name:</strong> {{name}}</em></p></div>

{{#each properties}}
<div>Name: <strong>{{name}}</strong></div>
<div><em>{{description}}</em></div>
{{#each values}}
{{value}}
{{description}}
{{/each}}
{{/each}}
{{/each}}


</ul>
</div>
{{/with}}